.contenedor {
    display: flex;
}

.colum_izquierda {
    flex:1;
    margin: 2px;
    color: white;
    background-color: black;
}

.colum_derecha {
    flex:1.6;
    margin: 2px;
}

header {
    padding: 15px;
    text-align: center;
}

header img {
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.contacto ul li {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    margin-bottom:10px ;
}

.colum_izquierda h2 {

    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial;
    letter-spacing: 2px;
    font-size: 20px;
    align-items: center;
}

.lineas {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.lineas::before, .lineas::after {
    content: "";
    flex: 1;
    border-bottom: 3px solid white;
    margin: 5px;
}

.referencias {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}

.referencias p {
    line-height: 5px;
    margin-bottom: 21px;
}

.contenedor_ref {
    border: solid white;
    margin: 15px;
    padding: 5px;
}

.colum_derecha h1{
    text-align: center;
    margin: 0;
    font-weight: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial;
    letter-spacing: 1px;
    font-size: 40px;
}

.colum_derecha h2 {
    
    text-align:center;
    margin: 0;
    font-family:'Heartbreak', 'Arial Narrow', Arial;
    letter-spacing: -0.5px;
    font-size: 26px;
    font-weight:lighter;
    letter-spacing: 2px;
}

.colum_derecha h3 {
    
    text-align:left;
    margin: 5PX;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial;
    letter-spacing: 0px;
    font-size: 18px;
}

hr {
    height: 2px;          
    background-color: black;
    margin: 10px 0;  
}

.info {
    text-align: justify;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    margin: 5px;
}

.colum_derecha p {
    margin-top: 5px;
    margin-bottom: 2px;
}

.colum_izquierda1 {
    flex:1;
}

.colum_derecha1 {
    flex:1;
}

.colum_derecha1 ul li {
    text-align: left;
}

body {
    max-width: 700px;
    margin: 0 auto;
    border: black solid 2px;
}

.transition {
    color: white;
    transition: color 1s;
}

.transition:hover {
    color:aquamarine;
}

.transitionimg {
    border: solid 3px black;
    transition: border 1s;
}

.transitionimg:hover {
    border: solid 2px white;
  }

.rebote {
animation: rebote 1s;
}

@keyframes rebote {
    0%, 100% {
        transform: translateY(0px);
    }
    30% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(0px);
    }
    70% {
        transform: translateY(-5px);
    }
    90% {
        transform: translateY(0px);  
    }
}

@font-face {
    font-family: "Heartbreak";
    src: url("/fonts/Heartbreak.ttf") format("truetype");
  }
